.site-logo {
    height: 50px;          /* control size */
    width: auto;
    margin-right: 15px;
    vertical-align: middle;
}
body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}